// header

#logo {
    width: 200px;
}

.lang-select {
    border: none;
    background: none;
}

.btn-login {
    background: $teal;
    color: $light;

    &:hover {
        color: $light;
        background: $teal-400;
    }
}

.header-search {
    position: relative;

    i {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
        opacity: 0.5;
    }
}

// body

.hero-gradient {
    min-height: 500px;
    background: linear-gradient(to bottom right, $primary, lighten($primary, 15%));
}

.searchbar {
    position: relative;

    .city-list {
        list-style-type: none;
        position: absolute;
        width: 100%;
        z-index: 999;

        &>li {

            &:hover,
            &.selected {
                cursor: pointer;
                background-color: $primary;
                color: $light;
                border-color: $primary;
                transition: 0.1s ease;
            }
        }
    }
}

.city-simple {
    img {
        height: 100px;
        object-fit: scale-down;
        pointer-events: none;
    }

    &:hover {
        outline: 1px $primary solid;
    }
}

// footer

.bg-light-gray {
    background-color: #dfdfdf;
}